.content{
    width: 50%;
    height: auto;
    margin-left: 100px;
}

.content h1,.content h2{
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    color: #3F3F42;
    font-size: 50px;   
    line-height: 50px;
    margin-bottom: 10px;
}

.contentButtons{
    width: 100%;
}

.contentButtons button{
    font-weight: 700;
    width: auto;
    height: 40px;
    background-color: white;
    border: 1px solid red;
}

.contentButtons button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.content img{
    height: 500px;
    margin-top: 20px;
}

.subtitle{
    font-weight: bold;
}

.content p{
    margin: 10px;
}
