.footer{
    width: 100%;
    height: auto;
    background-color: #282828;
    color: #cccccc;
}

.footer h1{
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
}

.icons{
    display: block;
    width: 100%;
}

.icons ul{  
    width: 100%;
    float: left;
}

.icons ul li{
    float: left;
    margin: 100px;
}

.icons ul li img{
    width: 30px;
    height: 30px;
}

.links{
    display: inline;
    width: 100%;
    float: left;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #FFFFFF;
}

.links ul{
    width: 100%;
    margin: 50px;
}

.links ul li{
    display: inline;
    margin: 10px;
}

.links ul li:hover{
    cursor:pointer;
    text-decoration: underline;
}

.copyright{
    width: 100%;
    margin: auto;
}